<%= render "shared/header" %>

  <div id="subPro" class="forms flex_height">
      <div class="titles">
        <h3>Delete a Project</h3>
      </div>

      <fieldset class="inputs ">
        <legend>Project details</legend>
	TITLE:
        <%=@project.title %>
	<br/>
	DESCRIPTION:
        <%=@project.body %>
      </fieldset>

    <div class="sep"></div>
    <div class="to_left">
      <%= "Some fields were missing!" if @message.errors.any? || @message.errors.any? %>
    </div>


    <%= form_for @message, url: {action: "pending"} do |f| %>

      <h4>Please leave some reasons for deletion here. Delete pending until confirmation by admins... <h4>

	<%= f.text_area :title, "placeholder" => "Subject here..." %>
	<%= f.text_area :text , "rows"=>"5", "placeholder" => "Specification here..."%>
  <%= f.hidden_field :project_id, :value => @project.id %>

    <div id="subBtn" class="button horizontal_list to_right">
      <ul>
        <li><%= f.submit "CONFIRM" %></li>
        <li><%= link_to "CANCEL", industry_dashboard_path %></li>
      </ul>
    </div>
    <% end %>

  </div>
