<%= render "shared/header" %>
<%= render "shared/dashheader" %>

<div class="wrapper content">
  <%= render "shared/dashsidebar" %>
  <%= render "shared/dashsidebarright" %>

  <div id="container" >
  
      <div id="board_showing" class="general_box flex_height shadow">
        <div id="industrydisplayproject">
      			<div class="titles">
      				<h3 class="centerHead">Delete Project</h3>
      			</div>
      			<h4>Please leave some reasons for deleting the Project here</h4>
      			<h4>Your deletion request will remain pending until confirmed by an admin.</h4>

    				<div class="sep"></div>
   					<div class="to_left">
      					<%= "Some fields were missing!" if @project.errors.any? %>
    				</div>
    				
    				
    				<!-- Message box -->
        			<%= form_for :newmessage, url: {action: "sendmes"} do |f| %>
						<div id="message_box" class="to_left">
          					<%= f.hidden_field 'user_id', :value => @current_user.id %>
          					<%= f.hidden_field 'proj_id', :value => @project.id %>
          					<%= f.text_field 'subject', :class => "to_left long_input","placeholder" => "Subject" %>
          					<%= f.text_area 'email' %>
        				</div>				
    				
    					<div id="subBtn" class="button horizontal_list to_right">
      						<ul>
      						<li><%= link_to "CANCEL", :display_project %></li>
        					<li><%= f.submit "SUBMIT" %></li>
      						</ul>
    					</div>
    			<% end %>
        </div>
      </div>
  </div>
</div>