<%= render "shared/header" %>
<%= render "shared/linkbar" %>
<%= render "shared/dashheader" %>

<div class="wrapper content">
  <%= render "shared/dashsidebar" %>
  <%= render "shared/dashsidebarright" %>

  <div id="container" >
  
      <div id="new_board_showing" class="general_box flex_height shadow">
        <div id="industrydisplayproject">
      			<div class="titles">
      				<h3 class="centerHead">Delete Project</h3>
      			</div>
      			
   					<div class="to_left">
      					<%= "Some fields were missing!" if @project.errors.any? %>
    				</div>
    				
    				
    				<!-- Message box -->
            <div id="delete_message">
              <h4>Please leave some reasons for deleting the Project here</h4>
              <h4>Your deletion request will remain pending until confirmed by an admin.</h4>
        			<%= form_for :newmessage, url: {action: "sendmes"} do |f| %>
						        <div  class="inputs">
          					<%= f.hidden_field 'user_id', :value => @current_user.id %>
          					<%= f.hidden_field 'proj_id', :value => @project.id %>
          					<%= f.text_field 'subject', :class => "to_left long_input","placeholder" => "Subject" %>
          					<%= f.text_area 'email', "placeholder"=>"Message", "rows" => "6" %>
                    </div>
    				
    					<div id="subBtn" class="button horizontal_list to_right">
      						<ul>
      						<li><%= link_to "CANCEL", :display_project %></li>
        					<li><%= f.submit "SUBMIT" %></li>
      						</ul>
    					</div>
    			<% end %>

          </div>

        </div>
      </div>
  </div>
</div>