<%= render "shared/header" %>
<%= render "shared/linkbar" %>
<%= render "shared/dashheader" %>
<div class="wrapper content">
  <%= render "shared/dashsidebar" %>
  <%= render "shared/dashsidebarright" %>
  <div id="container" >

    <div id="new_board_showing" class="general_box flex_height shadow">
      <div class="project_item flex_height">
        <div class ="to_left">

          <div class = "title_item">
            <h1>Basic details</h1>
            <hr class ="fancy-line">
            <strong>Project Name: </strong><br /><%= @project.title %><br /><br />
            <strong>Basic Project Description: </strong><br /><%= @project.body %><br /><br />
            <strong>Estimated Project Length: </strong><br /><%= @project.compl_time %>months<br /><br />
          </div>

          <div class = "title_item">
            <h1>System requirements</h1>
            <hr class = "fancy-line">
            <strong>Required Language(s): </strong><br /><%= @project.languages %><br /><br />
            <strong>System Requirements: </strong><br /><%= @project.system_req %><br /><br />
            <strong>Compatability Requirements: </strong><br /><%= @project.compat_req %><br /><br />
          </div>
        </div>

        <div class ="to_right">

          <div class = "title_item">
            <h1>Ideal Student Expertise</h1>
            <hr class = "fancy-line">
            <strong>Languages: </strong><br /><%= @project.student_req_lang %><br /><br />
            <strong>Concepts: </strong><br /><%= @project.student_req_concepts %><br /><br />
          </div>
        
          <div class = "title_item">
            <h1>Security Requirements</h1>
            <hr class = "fancy-line">
            <strong>Police Check Required: </strong><br /><%= @project.student_police_check %><br /><br />
            <br />
            <strong>Other Security Clause Required: </strong><br /><%= @project.student_security %><br /><br />
          </div>
       
          <div class = "title_item">
            <h1>Further details</h1>
            <hr class= "fancy-line">
            <strong>Anything else helpful to know: </strong><br /><%= @project.extra_details %><br /><br />
          </div>
        
          <div class = "title_item">
            <h1>Attachments</h1>
            <hr class="fancy-line">
            <% if (!(@project.attachment).blank?) %>
              <strong>Hover mouse to see the link to attachment: </strong>
              <%= link_to @project.attachment, @project.attachment.url(:original)%>
            <% else %>
              <strong>No attachment submitted</strong>
            <% end %>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>