 <!--#######################################################-->
  <div class="wrapper banner">
    <div id="top_bar" class="flex_height">
      <div class="to_left">
        <h1>University of Adelaide</h1>
      </div>

      <div class="button to_right">
        <ul>
          <li><a href="login.html">Login</a></li>
          <li><a href="register.html">Register<a/></li>
        </ul>
      </div>
    </div>
  </div>
  <!--########################################################-->
  <div id="subPro" class="forms flex_height">
    <%= form_for @project, url: {action: "update"} do |f| %>
      <div class="titles">
        <h3>Edit a Project</h3>
      </div>
      <fieldset class="inputs">
        <legend>Project details</legend>
        <%=f.text_field :title,  %>
        <%=f.text_area :body, "rows"=>"10" %>
        <%= fields_for @attached do |a| %>
          <%= a.file_field :attached %>
        <% end %>  
      </fieldset>   
    <div class="sep"></div>
    <div class="to_left">
      <%= "Some fields were missing!" if @project.errors.any? || @company.errors.any? %>
    </div>
    <div id="subBtn" class="button to_right"> 
      <ul>
        <li><%= f.submit %></li>
        <li><a href="index.html">CANCEL</a></li>
      </ul>
    </div>
    <% end %>

  </div>