<%= render "shared/header" %>
<%= render "shared/linkbar" %>
<%= render "shared/dashheader" %>
<div class="wrapper content">

  <%= render "shared/dashsidebar" %>
<div class="wrapper content">

  <div id="container" >
      <div id="board_showing" class="project_list shadow">
      
      	<div id="industrydisplayproject" class="titles">
        	<font color="#B38808"><h1 class="centerHead"><%= @current_user.companyname %>'s Projects</h1></font>
      	</div>
      


  <% if @projects.length > 0 %>  

    <div class="content_bar">
      <h3>Please click on project name for detailed information</h3>
    </div>

    <table>
      
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Status</th>
          <th>Description</th>
          <th>Messages</th>
          <th>Creation Time</th>
        </tr>
      </thead>
    
      <tbody>
        <% @projects.each do |sub| %>
        <tr>
          <td><strong><%= link_to sub.title, controller: "industry", action: "display", id: sub.id %></strong></td>
          <td><%=sub.status.humanize%></td>
          <td><%=sub.body[0..70]+"..."%></td>
          <td><%=sub.messages.count%></td>
          <td><%=Date.parse(sub.created_at.to_s).strftime("%d-%m-%Y") %></td>
        </tr>
        <% end %>
      </tbody>

    </table>
    <br>
    <% else %>
    <div class="content_bar">
      <h3 class="black center">There are currently no projects of this type. Please click the left side links to View Projects!</h3>
    </div>
      
    <% end %>






		</div>
      </div>
</div>
