<%= render "shared/header" %>
<%= render "shared/dashheader" %>

<div class="wrapper content">
  <%= render "shared/dashsidebar" %>

  <div id="container" >
      <div id="board_showing" class="general_box flex_height shadow">
      
      	<div id="industrydisplayproject" class="titles">
        	<h1 class="centerHead"><%= @current_user.companyname %>'s Projects</h1>
      	</div>
      
        <div id="listprojectsdiv">
 		<% @projects.each do |sub| %>
 			<div class="projectrow">
 				<p class="projname"><td>&nbsp;&nbsp;&nbsp;<%= link_to sub.title, controller: "industry", action: "display", id: sub.id %></td></p>
				<p class="projdesc"><%= sub.body %>&nbsp;&nbsp;&nbsp;</p>
			</div>
			<div class="vspacer"></div>
  		<% end %>
		</div>
      </div>
  </div>
</div>
