<%= render "shared/header" %>
<%= render "shared/linkbar" %>
<%= render "shared/dashheader" %>

<div class="wrapper content">
<%= render "shared/dashsidebar" %>
<%= render "shared/dashsidebarright" %>

  <!-- Middle board -->
  <div id="container" >
    <%= form_tag %>
      <!-- Viewing Project Board -->
      <div id="board_showing" class="general_box flex_height shadow">

        <!-- Project description-->
        <div id="show_specification" class="to_right" >
          <fieldset>
            <legend>
              <div class="horizontal_list switchButton">
                <ul>
                  <li><%= submit_tag "Project Description" %></li>
                  <li><%= submit_tag "Message Log" %></li>
                </ul>
              </div>
            </legend>

            <% if @des %>
            <textarea id="project_desc" class ="inputs", rows="14", readonly >There are some project specification....</textarea>
            <% end %>

            <% if @log %>
            <div style="height:250px; overflow: auto;">
              <% if !@message_log.blank? %>
                <% @message_log.each do |m| %>

                <div class="user_message inset_shadow">
                <% sender = User.find(m.sender_id) %>
                <strong>&nbsp&nbsp&nbspSender:&nbsp<%= sender.lname %>&nbsp-&nbspTitle:&nbsp<%=m.title %></strong>
                <textarea rows="2" readonly><%=m.text %></textarea>
                </div>
                <% end %>
              <% else %>
                <div class="user_message inset_shadow">
                <strong>&nbsp&nbsp&nbsp No messages currently.</strong>
                </div>
              <% end %>
            </div>
            <% end %>

          </fieldset>
        </div>
      </div>

      <!-- Mailing panel-->
      <div id="communication" id="general_box" class="flex_height to_right shadow">

        <!-- Message box -->
		<div id="message_box" class="to_left">
          <input class="to_left" type="text" placeholder="Subject:", name ="subject" >
          <input class="to_right" id="mail_address" type="text" placeholder="To: Project Coordinators" readonly>
          <%= text_area_tag 'email' %>
        </div>

        <!-- Buttons to apply operations on message -->
  		  <div id="action_to_message" class="to_right vertical_list button">
          <ul>
            <li><a href="#">...</a></li>
            <li><a href="#">...</a></li>
            <li><%= submit_tag 'Send' %></li>
          </ul>
        </div>

      </div>
  </div>



</div>
