<%= render "shared/header" %>
<%= render "shared/linkbar" %>
<%= render "shared/dashheader" %>
<%= render "shared/profilesidebar" %>
<div id="container" class="flex_height">

<div id="login" class=" forms flex_height">

  <%= form_tag(:perform_reset) do %>
      <div class="titles">
        <h3>Change Password for <%= @current_user.username %></h3>
        <!--message flash up-->
        <% if flash[:notice] %>
    		<div class="notice"><%= flash[:notice] %></div>
  		<% end %>
      </div>
      <div class="inputs">
        <%= password_field_tag :login_password,params[:login_password], "placeholder" => "Current Password" %>
        <%= password_field_tag :new_password,params[:new_password], "placeholder" => "New Password" %>
        <%= password_field_tag :confirm_password,params[:confirm_password], "placeholder" => "Confirm New Password" %>
      </div>
      <div id="subBtn" class="button horizontal_list to_right">
        <ul>
          <li><%= link_to "Cancel", :profile %></li>
          <li><%= submit_tag "Change Password" %></li>
        </ul>
      </div>
  <% end %>
  
</div>

</div>