<%= render "shared/header" %>
<%= render "shared/linkbar" %>
<%= render "shared/dashheader" %>
<%= render "shared/profilesidebar" %>

<div id="container" class="flex_height">

  <div id="ProfileSetting" class=" forms flex_height">
    <%= form_for :user  do |f| %>
      <div class="titles">
        <h3>Edit Your Details: <%= @current_user.username %></h3>
      </div>

	  <% if flash[:notice] %>
  		<li><font color="black"><%= flash[:notice] %></font></li>
  		<br />
	  <% end %>
	  
      <!-- Error display -->
      <% if @user.errors.any? %>
    	<ul class="Signup_Errors">
    	<% for message_error in @user.errors.full_messages %>
      	<li><%= message_error %></li>
    	<% end %>
    	</ul>
  	  <% end %>

      <fieldset class="inputs">
        <legend>User details</legend>
    	  First Name: <%= f.text_field :fname, "placeholder" => "First Name" %>
    	  Last Name: <%= f.text_field :lname, "placeholder" => "Last Name" %>
    	  Email Address: <%= f.text_field :email, "placeholder" => "Email" %>
      </fieldset>
      <br /><br />
      <fieldset class="inputs">
        <legend>Organisation details</legend>
    	  Company Name: <%= f.text_field :companyname, "placeholder" => "Company Name" %>
    	  Contact Phone Number: <%= f.text_field :phone, "placeholder" => "Contact Phone Number" %>
    	  Work Address: <%= f.text_field :address, "placeholder" => "Work Address" %>
    	  Company Website: <%= f.text_field :website, "placeholder" => "Company Website" %>
      </fieldset>
      
      <div id="subBtn" class="button horizontal_list to_right" >
        <ul>
          <li><%= link_to "Cancel", :profile %></li>
          <li><%= f.submit "Update Details" %></li>
        </ul>
      </div>
    <% end %>

  </div>

</div>
