<h1>Editing User Details</h1>
 
<%= form_for :user, url: user_path(@user), method: :patch do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited
      this user from being modified:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>


<p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>
 
   <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
  
  <p>
    <%= f.label :hashed_password %><br>
    <%= f.text_field :hashed_password %>
  </p>
  
  <p>
    <%= f.label :salt %><br>
    <%= f.text_field :salt %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Back', users_path %>