<%= render "shared/header" %>
<%= render "shared/linkbar" %>

  <%= form_tag(:email_new_password, class: "forms flex_height", id: "login") do %>
      <div class="titles">
        <h3>Forgotten Password</h3>
        <!--message flash up-->
        <% if flash[:notice] %>
    		<div class="notice"><%= flash[:notice] %></div>
  		<% end %>
      </div>
      <div class="inputs">
        <%= text_field_tag :username_or_email,params[:username_or_email], "placeholder" => "Username or Email Address" %>
      </div>
      <div id="subBtn" class="button horizontal_list to_right">
        <ul>
          <li><%= link_to "Cancel", :login %></li>
          <li><%= submit_tag "Reset Password" %></li>
        </ul>
      </div>
  <% end %>
