  <!--#######################################################-->
  <div class="wrapper banner">
    <div id="top_bar" class="flex_height">
      <div class="to_left">
        <h1>University of Adelaide</h1>
      </div>

      <div id="login_buttons" class="button horizontal_list to_right">
        <ul>
          <li><%= link_to "Login", login_path %></li>
          <li><%= link_to "Register", signup_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <!--########################################################-->
  <div id="ProfileSetting" class=" forms flex_height">
    <%= form_for :user, :url => {:controller => 'users', :action => 'create'}  do |f| %>
      <div class="titles">
        <h3>Register A New Account</h3>
      </div>

      <!-- Error display -->
      <% if @user.errors.any? %>
    	<ul class="Signup_Errors">
    	<% for message_error in @user.errors.full_messages %>
      	<li>* <%= message_error %></li>
    	<% end %>
    	</ul>
  	  <% end %>

      <fieldset class="inputs">
        <legend>User details</legend>
    	  <%= f.text_field :username, "placeholder" => "Username" %>
    	  <%= f.text_field :email, "placeholder" => "Email" %> </p>
    	  <%= f.password_field :password, "placeholder" => "Password" %></p>
    	  <%= f.password_field :password_confirmation, "placeholder" => "Password Confirmation"  %> </p>
      </fieldset>

      <div id="subBtn" class="button horizontal_list to_right" >
        <ul>
          <li><%= f.submit "SIGN UP" %></li>
          <li><%= link_to "BACK TO HOME", root_path %></li>
        </ul>
      </div>
    <% end %>

  </div>
