<%= render "shared/header" %>
<%= render "shared/linkbar" %>
<%= render "shared/profilesidebar" %>
<div id="container" >

  <div id="CreateAdminDiv" class=" forms flex_height">
    <%= form_for :admin_user  do |f| %>
      <div class="titles">
        <h3>Create New Course Co-Ordinator Account</h3>
      </div>

	  <% if flash[:notice] %>
  		<li><font color="black"><%= flash[:notice] %></font></li>
  		<br />
	  <% end %>

      <!-- Error display -->
      <% if @newadminuser.errors.any? %>
    	<ul class="Signup_Errors">
    	<% for message_error in @newadminuser.errors.full_messages %>
      	<li><%= message_error %></li>
    	<% end %>
    	</ul>
  	  <% end %>

      <fieldset class="inputs">
        <legend>User details</legend>
          Account Type:<%= f.select(:acctype, options_for_select([['Prospective Project Coordinator', 'coordinator'], ['Past Project Contributor', 'contributor']]), :class=>'acctypeselect') %>
    	  <%= f.text_field :username, "placeholder" => "Username" %>
    	  <%= f.text_field :fname, "placeholder" => "First Name" %>
    	  <%= f.text_field :lname, "placeholder" => "Last Name" %>
    	  <%= f.text_field :email, "placeholder" => "Email" %>
    	  <%= f.hidden_field :phone, :value => "" %>
    	  <%= f.hidden_field :companyname, :value => "University of Adelaide" %>
    	  <%= f.hidden_field :address, :value => "North Terrace Adelaide 5000" %>
    	  <%= f.hidden_field :website, "placeholder" => "www.cs.adelaide.edu.au"  %>
      </fieldset>

      <div id="subBtn" class="button horizontal_list to_right" >
        <ul>
          <li><%= link_to "Cancel", :profile %></li>
          <li><%= f.submit "Continue" %></li>
        </ul>
      </div>
    <% end %>

  </div>
</div>