<%= render "shared/header" %>
<%= render "shared/linkbar" %>
<%= render "shared/dashheader" %>
  <%= render "shared/profilesidebar" %>
<div class="wrapper content">
  <div id="container">
    <div id="new_board_showing" class="general_box flex_height shadow">
      <div class="userinfo_item flex_height">
        <div class = "title_item">
          <h1>Welcome Back <%= @current_user.fname %> <%= @current_user.lname %>!</h1>
          <h3>Your Details:</h3>
          <hr class ="fancy-line">
          <strong>Username: </strong><%= @current_user.username %><br><br>
          <strong>Email: </strong><%= @current_user.email %><br><br>
          <strong>Organisation: </strong><%= @current_user.companyname %><br><br>
          <strong>Address: </strong><%= @current_user.address %><br><br>
          <strong>Phone: </strong><%= @current_user.phone %><br><br>
          <strong>Website: </strong><a href="http://<%= @current_user.website %>"><%= @current_user.website %></a><br><br>
        </div> 
       </div>
    </div>
  </div>
</div>