<%= render "shared/header" %>
<%= render "shared/linkbar" %>
<%= render "shared/profilesidebar" %>
    
<div class="newcontainer to_left shadow">
	<div class="centerHead">
		<h2>Welcome Back <%= @current_user.fname %>!</h2>
	</div>
	<div class="profileleft profilebox">
		<h3>Your Details:</h3>
		<p><strong>Username: <%= @current_user.username %></strong></p> 
		<p><strong>Email: <%= @current_user.email %></strong></p>
	</div>
	<div class="profileright profilebox">
		<p><strong>Organisation: <%= @current_user.companyname %></strong></p>
		<p><strong>Address: <%= @current_user.address %></strong></p>
		<p><strong>Phone: <%= @current_user.phone %></strong></p>
		<p><strong>Website: <a href="http://<%= @current_user.website %>"><%= @current_user.website %></a></strong></p>
	</div>
</div>