<div class="headercontainer">
	<div class="topheader">
		<div id="headerbuttons" class="to_right">
			<button class="btn"><%= link_to "Home", :root %></button>
        	<% @user = User.find_by_id( session[:user_id] ) %>
        	<% if @user != nil %>
    			<% if @user.acctype == "industry" %>
					<button class="btn"><%= link_to "Projects", :my_projects  %></buton>      				<% elsif @user.acctype == "coordinator" %>
          			<button class="btn"><%= link_to "Projects", :admin_dashboard_show_new %></button>
          		<% end %>
          		<button class="btn"><%= link_to "#{@user.username}", :profile %></button>
          		<button class="btn"><%= link_to "Logout", :logout %></button>
        	<% else %>
    			<button class="btn"><%= link_to "Login", :login %></button>
      			<button class="btn"><%= link_to "Register", :signup %></button>
       		<% end %>
      	</div>
	</div>
  	<div class="bottomheader">
    	<div id="top_bar" class="flex_height">
      		<div class="to_left">
        		<%= link_to(image_tag("UofA.png", :alt => "home image", :class => "bannerlogo", :title => "Click here to return to Home"), "/") %>
        		
      		</div>
			<h1 class="headertitle">&nbsp;&nbsp;&nbsp;Industry Engagement</h1>
      		
    	</div>
  	</div>
</div>
<div class="push"></div>