<div class="linkbar">
	<div id="bottomlinks" class="to_right">
		<% if current_page?(:index) %>
		<span class="btnSelected"><a href="/projects">Project Gallery</a></span>
		<% else %>
		<span class="btn"><a href="/projects">Project Gallery</a></span>
		<% end %>

		<% if current_page?(:info) %>
		<span class="btnSelected"><%= link_to "Information", info_path %></span>
		<% else %>
		<span class="btn"><%= link_to "Information", info_path %></span>
		<% end %>

		<% if current_page?(:contact) %>
		<span class="btnSelected"><%= link_to "Contact", contact_path %></span>
		<% else %>
		<span class="btn"><%= link_to "Contact", contact_path %></span>
		<% end %>


	




         <% if session[:user_id] != nil %>
        <% @user = User.find(session[:user_id]) %>
          <% if @user.acctype == "coordinator" %>
    			
              	<% if current_page?(:stats) %>
		<span class="btnSelected"><%= link_to "Stats", stats_path %></span>
		<% else %>
		<span class="btn"><%= link_to "Stats", stats_path %></span>
		<% end %>		<% end %>
		<% end %>

		

	</div>
</div>
<div class="pushlower"></div>
