<!-- Profile Sidebar navigation -->
<div class="aside_cols to_left">
<div id="tabs" class="to_right vertical_list button">
	<p align="center"><b><font color="white"><%= @current_user.username %></font></b></p>
	<ul>
	<li><%=link_to "My Profile", :profile %></li>
    <li><%=link_to "Update My Details", :edit_profile %></li>
    <li><%=link_to "Change Password", :change_pw %></li>
    <% if @current_user.acctype == "coordinator" %>
    	<li><%=link_to "User Management", :list_all_path %></li>
    	<li><%=link_to "Create Coordinator Account", :admin_signup_path %></li>
    <% end %>
    </ul>
</div>
</div>
