<!-- right navigation -->
 <div class="aside_cols to_left">
    <div id="cart" class="to_right vertical_list tab">
      <p align="center"><b><font color="black"><%= @project.title.upcase[0..10]+".." %></font></b></p>
      <ul>
        <li><%=link_to "Edit Details", edit_details_path(id: @project.id )%></li>
        <li><%=link_to "Make Decision", project_manip_path(id: @project.id, show_action: true) %></li>
        <li><%=link_to "Message Log", show_messages_path(id: @project.id ) %></li>
        <li><%=link_to "Spec Editor", admin_edit_project_path(id: @project.id) %></li>
        <li><%=link_to "Assign Team", admin_assign_student_path(project_id: @project.id )%></li>
      </ul>
    </div>
  </div>