  <!-- Left navigation -->
  <div class="aside_cols to_left">
    <div id="tabs" class="to_right vertical_list button">
      <ul>
      	<% if params[:state] == "new" %>
        	<li><%=link_to "Newly submitted", :admin_dashboard_show_new %></li>
        <% else %>
        	<li><%=link_to "Newly submitted", :admin_dashboard_show_new %></li>
        <% end %>
        <li><%=link_to "Accepted", :admin_dashboard_show_accepted  %></li>
        <li><%=link_to "Rejected", :admin_dashboard_show_rejected %></li>
        <li><%=link_to "Pending", :admin_dashboard_show_pending %></li>
        <li><%=link_to "Add Past Project", :new_past_project %></li>
      </ul>
    </div>
  </div>