<%= render "shared/header" %>
<%= render "shared/linkbar" %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<div class="wrapper gallery">
	<div id="slides" class="shadow">
		<img src="images/example.gif" alt="" />
	</div>
</div>

<div class="wrapper content">

	<div id="news" class="flex_height shadow">
		<span class="contact-title" style="margin-left: 20px;"><strong>Contacts</strong></span>

		<!-- FLASH status for email form -->
		<div>
			<% flash.each do |key, value| %>
			<div>
				<h2 style="color:black" class="tab1"><a href="#" data-dismiss="alert">×</a><%= value %></h2>
			</div>
			<% end %>
		</div>

		<div  class="project-title-subheading container-expand container-contact-expand">
			<div class="header-expand">
				<span> General Enquiries</span>
			</div>
			<div class="content-collapse">
				<div class="project-content-summary">
					<h3 >Phone: <span class="ContactInfo"> <em>8343245</em> </span></h3>
					<h3>Email:<span class="ContactInfo"><a href="mailto:adelaideuni@adelaide.edu.au" target="_top"> <em> <u> adelaideuni@adelaide.edu.au</u> </em></a></span></h3>
				</div>
			</div>
		</div>

		<div  class="project-title-subheading container-expand container-contact-expand">
			<div class="header-expand">
				<span> Student Enquiries</span>
			</div>
			<div class="content-collapse">
				<div class="project-content-summary">
					<h3 >Phone: <span class="ContactInfo"> <em>8343245</em> </span></h3>
				</div>
			</div>
		</div>

		<div  class="project-title-subheading container-expand container-contact-expand">
			<div class="header-expand">
				<span> Course Coordinator</span>
			</div>
			<div class="content-collapse">
				<div class="project-content-summary">
					<h3 >Phone: <span class="ContactInfo"> <em>23453544</em> </span></h3>
					<h3>Email:<span class="ContactInfo"><a href="mailto:kevin@cs.adelaide.edu.au" target="_top"> <em> <u> kevin@cs.adelaide.edu.au</u> </em></a></span></h3>
				</div>
			</div>
		</div>

		<div  class="project-title-subheading container-expand container-contact-expand">
			<div class="header-expand">
				<span> Location</span>
			</div>
			<div class="content-collapse">
				<div class="project-content-summary">
					<iframe class="tab1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.430650819623!2d138.60646403439335!3d-34.92073495590061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ab0ced27ef95329%3A0xb46ee5f583fae2bf!2sThe+University+of+Adelaide!5e0!3m2!1sen!2sau!4v1413086083205"
					width="800" height="450" frameborder="0" style="border:0 ;margin: 0 5%; max-width: 90%""></iframe>
					</div>
					</div>
					</div>

					<!-- CONTACT FORM -->
					<div  class="project-title-subheading container-expand container-contact-expand">
					<div class="header-expand">
					<span> Contact Us</span>
					</div>
					<div class="content-collapse">
					<div class="project-content-summary contact-summary">
					<div class="project-contact-container">

					<%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
					<%= f.input :name, :required => true %>
					<%= f.input :email, :required => true %>
					<%= f.input :message, :as => :text, :required => true %>
					<div class= "hidden">
						<!--%= f.input :nickname, :hint => 'Leave this field blank!' %-->
					</div>
					<div class="contact_button">
						<%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<br />
</div>
</div>
