<%= render "shared/header" %>
<%= render "shared/dashheader" %>

<!--##############################################################-->
<div class="wrapper content">

  <%= render "shared/statussidebar" %>

  <!--********************-->
  <%= form_tag %>
  <%= hidden_field_tag "spec_url", @spec_link, :id => "spec_link" %>
  <div id="container" class="to_left">
    <div id="board_showing" class="general_box flex_height shadow">

      <div class="flex_height">
        <div id="action_to_showing_board" class="to_right horizontal_list button">
          <ul>
            <li><%= submit_tag 'Edit' %></li>
            <li><%= submit_tag 'Preview' %></li>
          </ul>
        </div>
      </div>

      <div id="edit_specification" class="to_right"  >
        <fieldset>
          <legend>Project specification</legend>
          <div id="siteloader"></div>
          <%= hidden_field_tag 'project_id', @project.id %>
        </fieldset>
      </div>
    </div>
  </div>

  <!--*********************-->
  <%= render "shared/projectmanipsidebar" %>

</div>
