<%= render "shared/header" %>
<%= render "shared/dashheader" %>

<!--##############################################################-->
<div class="wrapper content">

  <!-- Left navigation -->
  <div class="aside_cols to_left">
    <div id="tabs" class="to_right vertical_list button">
      <ul>
        <li><%= link_to "Add extra info", admin_edit_project_path %></li>
        <li><%= link_to "Assign students", admin_assign_student_path %></li>
      </ul>
    </div>
  </div>

  <!--********************-->
  <%= form_tag %>
  <%= hidden_field_tag "spec_url", @spec_link, :id => "spec_link" %>
  <div id="container" class="to_left">
    <div id="board_showing" class="general_box flex_height shadow">

      <div class="flex_height">
        <div id="action_to_showing_board" class="to_right horizontal_list button">
          <ul>
            <li><%= submit_tag 'Edit' %></li>
            <li><%= submit_tag 'Preview' %></li>
          </ul>
        </div>
      </div>

      <div id="edit_specification" class="to_right"  >
        <fieldset>
          <legend>Project description</legend>
          <div id="siteloader"></div>
          <%= hidden_field_tag 'project_id', @project.id %>
        </fieldset>
      </div>
    </div>
  </div>

  <!--*********************-->
  <div class="aside_cols to_left">
    <div id="cart" class="to_left vertical_list button">
      <ul>
        <% if @cart != nil && @cart.length > 0 %>
          <% @cart.each do |project| %>
          <li><%=link_to project.title, admin_edit_project_path(:project_id => project.id) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

</div>
