<%= render "shared/header" %>
<%= render "shared/dashheader" %>

<!--##############################################################-->
<div class="wrapper content">

  <!-- Left navigation -->
  <div class="aside_cols to_left">
    <div id="tabs" class="to_right vertical_list button">
      <ul>
        <li><%=link_to "Newly submitted",admin_dashboard_path,:state => "new" %></li>
        <li><%=link_to "Accepted", admin_dashboard_path, state: "accepted"  %></li>
        <li><%=link_to "Rejected", admin_dashboard_path, state: "rejected" %></li>
        <li><%=link_to "Pending", admin_dashboard_path, state: "pending" %></li>
        <li><%=link_to "Past projects", admin_dashboard_path, state: "past_projects" %></li>
      </ul>
    </div>
  </div>

  <!--********************-->
  <%= form_tag %>
  <%= hidden_field_tag "spec_url", @spec_link, :id => "spec_link" %>
  <div id="container" class="to_left">
    <div id="board_showing" class="general_box flex_height shadow">

      <div class="flex_height">
        <div id="action_to_showing_board" class="to_right horizontal_list button">
          <ul>
            <li><%= submit_tag 'Edit' %></li>
            <li><%= submit_tag 'Preview' %></li>
          </ul>
        </div>
      </div>

      <div id="edit_specification" class="to_right"  >
        <fieldset>
          <legend>Project specification</legend>
          <div id="siteloader"></div>
          <%= hidden_field_tag 'project_id', @project.id %>
        </fieldset>
      </div>
    </div>
  </div>

  <!--*********************-->
  <div class="aside_cols to_left">
    <div id="cart" class="to_left vertical_list button">
      <ul>
        <li><%=link_to "Edit Details", edit_details_path(id: @project.id )%></li>
        <li><%=link_to "Make Decision", project_manip_path(id: @project.id, show_action: true) %></li>
        <li><%=link_to "Message Log", show_messages_path(id: @project.id ) %></li>
        <li><%=link_to "Spec Editor", admin_edit_project_path(id: @project.id) %></li>
        <li><%=link_to "Assign Team", admin_assign_student_path(project_id: @project.id )%></li>
      </ul>
    </div>
  </div>

</div>
