<%= javascript_include_tag 'studentprojectform', 'data-turbolinks-track' => true %>

<%= form_for @student_project,:html => { :multipart => true} do |f| %>
<div style = "color:red;font-weight:bold;font-size:15px">
<% @student_project.errors.full_messages.each do |msg| %>
		<%= msg %></br>
<% end %>
</div>


<%= f.label :title %>
<%= f.text_field :title, "placeholder" => "Title" %></br>
<%= f.label :year %>
<%= f.select :year , (2000 .. Date.today.year) %></br></br>
<% if false %>
<%= f.select :year ,{:start_year => Time.now.year, :end_year => Time.now.year-10} %></br>
<%= date_select(@student_project, :year, start_year: Time.now.year, end_year: 2000, discard_day: true, discard_month: true)%>
<% end %>
<%= f.label :client %>
<%= f.text_field :client , "placeholder" => "Client" %></br></br>
<%= f.label :category %>
<%= f.text_field :category , "placeholder" => "Category"%></br></br>

<!-- Student forms -->
<%= f.fields_for :students do |builder| %>
<%= render "studentform" , :f => builder %>
<% end %>

<div id = "add_student_field"> </div>
<%= submit_tag "Add student" , :id => "add_student" %>
<%= f.label :summary %>
<%= f.text_area :summary , "placeholder" => "Summary", "rows" => "4", "columns" => "20" %></br>
<%= f.label :image %>
<%= f.file_field :image  %></br>
<% if false %>
<%= f.label :remote_image_url, "or image URL" %>
<%= f.text_field :remote_image_url %></br>
<% end %>
<%= f.label :client_image, "Client Image" %>
<%= f.file_field :client_image %></br>
<p>
		<%= f.submit "Submit" %>
</p>
<% end %>

