<%= javascript_include_tag 'studentprojectform', 'data-turbolinks-track' => true %>

<%= form_for @student_project,:html => { :multipart => true} do |f| %>
<div style = "color:red;font-weight:bold;font-size:15px">
<% @student_project.errors.full_messages.each do |msg| %>
		<%= msg %></br>
<% end %>
</div>


<%= f.label :title %>
<%= f.text_field :title, "placeholder" => "Title" %></br>

<%= f.label :year %>
<%= f.select :year , (2000 .. Date.today.year) %></br></br>

<%= f.label :client %>
<%= f.text_field :client , "placeholder" => "Client" %></br></br>

<%= f.label :client_summary %>
<%= f.text_field :client_summary , "placeholder" => "Client Summary" %></br></br>

<%= f.label :client_link %>
<%= f.text_field :client_link , "placeholder" => "Client Link" %></br></br>

<%= f.label :category %>
<%= f.text_field :category , "placeholder" => "Category"%></br></br>

<!-- Fields for students -->
<div class="shadow">
<%= f.fields_for :students do |builder| %>
<%= builder.label "Student name" %>
<%= builder.text_field :name , "placeholder" => "Student Name" %></br>
<%= builder.label "Student email" %>
<%= builder.text_field :email , "placeholder" => "Student Email" %></br>
<%= builder.label "Student ID" %>
<%= builder.text_field :studentID ,"placeholder" => "Student ID" %></br>
<%= builder.label :course %>
<%= builder.collection_select :course, Student.all.map { |student| student.course }.uniq, :to_s, :to_s, include_blank: 'Add Course' %></br></br>
<%= builder.text_field :course, "style" => "float:right display:inline" ,"placeholder" => "Course" %>
</br>
Remove student? <%= builder.check_box :_destroy %></br>
<% end %>
</div>
<%= f.submit 'Add Student', :name => "add_student" %></br>
<%= f.submit 'Remove Student', :name => "remove_student" %></br>

<%= f.label :summary %>
<%= f.text_area :summary , "placeholder" => "Summary", "rows" => "4", "columns" => "20" %></br>
<%= f.label :image %>
<%= f.file_field :image  %></br>
<% if false %>
<%= f.label :remote_image_url, "or image URL" %>
<%= f.text_field :remote_image_url %></br>
<% end %>
<%= f.label :client_image, "Client Image" %>
<%= f.file_field :client_image %></br>
<p>
		<%= f.submit "Submit" %>
</p>
<% end %>

