<%= javascript_include_tag 'studentprojectform', 'data-turbolinks-track' => true %>

<%= form_for @student_project,:html => { :multipart => true} do |f| %>
<div style = "color:red;font-weight:bold;font-size:15px">
<% @student_project.errors.full_messages.each do |msg| %>
		<%= msg %></br>
<% end %>
</div>


<%= f.label :title %>
<%= f.text_field :title, "placeholder" => "Title" %></br>

<%= f.label :year %>
<%= f.select :year , (2000 .. Date.today.year) %></br></br>

<%= f.label :client %>
<%= f.text_field :client , "placeholder" => "Client" %></br></br>

<%= f.label :category %>
<%= f.text_field :category , "placeholder" => "Category"%></br></br>

<!-- Student forms -->
<div id = "add_student_field">
<%= f.fields_for :students do |builder| %>
<%= render "studentform" , :f => builder %>
<% end %>
</div>

<%= f.submit 'Add Student', :name => "add_student" %></br>
<%= f.submit 'Remove Student', :name => "remove_student" %></br>

<%= f.label :summary %>
<%= f.text_area :summary , "placeholder" => "Summary", "rows" => "4", "columns" => "20" %></br>
<%= f.label :image %>
<%= f.file_field :image  %></br>
<% if false %>
<%= f.label :remote_image_url, "or image URL" %>
<%= f.text_field :remote_image_url %></br>
<% end %>
<%= f.label :client_image, "Client Image" %>
<%= f.file_field :client_image %></br>
<p>
		<%= f.submit "Submit" %>
</p>
<% end %>

