<%= render "shared/header" %>
<%= render "shared/linkbar" %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= render "shared/showPagebanner" %>


<div class="wrapper content">
	<div id="news" class="flex_height shadow">

		<div class="project-maintitle">
			<h1 ><strong>SEGP Showcase</strong></h1>
		</div>

		<div class="project-container">

			<fieldset>
				<legend style="color: #005d8f">
					<h2><strong>Delete Project</strong></h2>
				</legend>

				<fieldset>
					<span class="project-title-subheading"">Are you sure that you want to delete this project?</span>
					<%=form_for @theProject, :url => { :action => "delete" } do |f| %>

					<div  class="button horizontal_list to_right">
					<ul>
					<li>
					<%= link_to "CANCEL", project_path(@theProject.id) %>
					</li>
					<li>
					<%= f.submit "CONFIRM DELETE"%>
					</li>
					</ul>
					</div>
					<%end%>
				</fieldset>
			</fieldset>

		</div>

	</div>
</div>
<%= render "shared/footer" %>
