<%= render "shared/header" %>
<%= render "shared/linkbar" %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<div class="wrapper content">
	<div id="news" class="flex_height shadow">

		<div class="project-maintitle">
			<h1 ><strong>SEGP Showcase</strong></h1>
		</div>

		<div class="project-container">
			<% if flash[:notice] %>
			<div class="notice">
				<%= flash[:notice] %>
			</div>
			<% end %>
			<fieldset class="project-edit-fieldset">
				<legend>
					<h2><strong>Edit Project</strong></h2>
				</legend>

				<%=form_for @theProject, :url => { :action => "update" } do |f| %>
				<div  class="project-edit-line-container">
					<%= f.label :title %>
					<%= f.text_field :title %>
				</div>
				<div  class="project-edit-line-container">
					<span class="to_left"> <%= f.label :Finished_Year%> </span>
					<%= f.select :year, (2000) .. (Date.today.year) %>

					<!--<%= date_select(:StudentProject, :year, start_year: 2000, end_year: Time.now.year, discard_day: true, discard_month: true)%>-->
				</div>

				<div  class="project-edit-line-container">
					<%= f.label :category %>
					<%= f.text_field :category %>
				</div>
				<div  class="project-edit-line-container">
					<%= f.label :client %>
					<%= f.text_field :client %>
				</div>
				<div  class="project-edit-line-container">
					<%= f.label :client_link %>
					<%= f.text_field :client_link %>
				</div>

				<div  class="project-edit-line-container">
					<%= f.label :Client_Summary%>
					<%= f.text_area :client_summary%>
				</div>

				<div  class="project-edit-line-container">
					<%= f.label :Project_Summary %>
					<%= f.text_area :summary%>
				</div>

				<div  class="project-edit-line-container">
					<fieldset class="project-edit-fieldset-group">
						<legend>
							<strong>Group Edit</strong> 
						</legend>
						<!--output all students in details here-->
						<table class="project-edit-table">
							<tr>
								<th class="Project-text_field-ID">ID </th>
								<th class="Project-text_field-NAME">NAME </th>
								<th class="Project-text_field-EMAIL">EMAIL </th>
								<th class="Project-text_field-COURSE">COURSE </th>
								<th class="project-table-td"><%= link_to "Add", student_new_path(@theProject.id),
								data: { confirm: "Are you sure to add a new student ?" }%></th>
								<th class="Project-to_center"></th>

								<%if @theProject.students.empty? == false%>
							</tr>
							<!--modify students record here-->
							<%= f.fields_for :students do |student| %>
							<tr>
								<td><%=student.text_field :studentID, class: "Project-text_field-ID"%></td>
								<td><%=student.text_field :name, class: "Project-text_field-NAME"%></td>
								<td><%= student.text_field :email, class: "Project-text_field-EMAIL"%></td>
								<td><%=student.text_field :course, class: "Project-text_field-COURSE"%></td>
								<% @theStudent=student.object%>
								<td class="project-table-td"><%= link_to "Edit", student_edit_path(student.object.id, :pastproject=>@theProject.id),  data: { confirm: "Are you sure to update this student '"+student.object.name.to_s+"' ?" }%></td>
								<td class="project-table-td"><%= link_to "Remove", student_delete_path(student.object.id), data: { confirm: "Are you sure to delete this student '"+student.object.name.to_s+"' ?" }%></td>
							</tr>
							<%end%>
							<%end%>
						</table>
					</fieldset>
				</div>

				<div  class="project-edit-upload-container">
					<span class="to_left"> <%= f.label :image, "Upload a related project image" %> </span>
					<span  class="to_left"> <%= f.file_field :image%></span>
				</div>

				<div  class="project-edit-upload-container">
					<span class="to_left"> <%= f.label :client_image, "Upload a related client image" %> </span>
					<span  class="to_left"> <%= f.file_field :client_image%></span>
				</div>
				<div  class="project-edit-line-submit-container button">
					<span class="to_left"><%= f.submit "CONFIRM UPDATE"%></span>
					<span class="to_right"><%= link_to "CANCEL", project_path(@theProject.id)%></span>
				</div>
				<%end%>
			</fieldset>
		</div>

	</div>
</div>

<%= render "shared/footer" %>
