<%= render "shared/header" %>
<%= render "shared/linkbar" %>

  <div class="wrapper gallery">
    <div id="slides" class="shadow">
      <img src="images/example.gif" alt="" />
    </div>
  </div>

  
  <div class="wrapper content">
  	<div id="news" class="flex_height shadow">
  	<h1>Home</h1>
  	<h2><%= flash[:notice] %></h2>
  	<% for project in @projects %>
  		
  		<div class="img">
  			<%= image_tag project.image_url(:thumb)  %>
  			Title: <%= project.title %></br>
  		</div>
  		<% end %>
  	</div> 
  </div>
