<%= render "shared/header" %>
<%= render "shared/linkbar" %>
<%= render "shared/banner" %>

<div class="wrapper content">
		<div id="news" class="flex_height shadow">
				<div class="contact-title">
						<h1><strong>Project Portfolio</strong></h1>
				</div>

				<h2><%= flash[:notice] %></h2>
				<div class="search-bar to_right">
						<%=form_tag search_path, :method => 'get' do %>
						<span class="to_left"> <%= select_tag "classify", options_for_select([ "title","production year", "id", "category","client name"], "title")%> </span>
						<span class="to_left"><%= text_field_tag :search, params[:search], placeholder: "Search..."%></span>
						<span class="to_right"><%= submit_tag "Search", :name => nil %></span>
						<%end%>
				</div>

				<div class="project-container">
						<% for project in @projects %>

						<div class="project-index-image">
								<!--<!%= image_tag project.image_url(:thumb)  %>-->
								<!--route to a related project with specific ID-->
								<%= link_to(image_tag(project.image), project_path(project.id))%>
								Project Title: <%= project.title %></br>
						</div>
						<% end %>
				</div>
		</div>

</div>
<%= render "shared/footer" %>
