<%= render "shared/header" %>
<%= render "shared/linkbar" %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= render "shared/showPagebanner" %>

<div class="wrapper content">
	<div id="news" class="flex_height shadow">

		<div class="project-maintitle">
			<h1 ><strong>SEGP Showcase</strong></h1>
		</div>

		<!-- admin seesion check, if login, then add a edit button to dashboard
		editsection-->
		<% if session[:user_id] != nil %>
		<% @user = User.find(session[:user_id]) %>
		<% if @user.acctype == "coordinator" %>

		<div class="button horizontal_list to_right" id="login_buttons">
			<ul>
				<li>
					<%= link_to "Edit", edit_path(@theProject.id)%>
				</li>
				<li>
					<%= link_to "Delete", destroy_path(@theProject.id)%>
				</li>
			</ul>
		</div>
		<%end%>
		<%end%>

		<div class="project-container">

			<div  class="project-title">
				<strong><%= @theProject.title%></strong>
			</div>

			<div class="project-metadata">
				<span style="margin-left: 8%"><strong>Finished Year:</strong> &nbsp;<%= @theProject.year%></span>

				<span><strong>Category:</strong>&nbsp;<%= @theProject.category%></span>

				<span><strong>Last Updated At: </strong>&nbsp;<%= @theProject.updated_at.to_date%></span>

			</div>

			<!--left modulo here-->
			<div class="project--left-modulo-container">

				<div class="project-image">
					<%= image_tag @theProject.image%>
				</div>

				<div  class="project-title-subheading">
					Project Summary
				</div>

				<div class="project-content-summary">
					<%= @theProject.summary%>
				</div>
				<div  class="project-title-subheading">
					Group members
				</div>

				<div class="project-content">
					<dl class="studentlist">
						<% @students.each do |student| %>
						<dt>
							<%= student.name %>
						</dt>
						<dd>
							-  <%= student.course%>, <%= student.email %>
						</dd>
						<% end %>
					</dl>

				</div>
			</div>
			<!--left modulo end-->

			<!--right client module-->
			<div class="project-client-right-modulo-container">
				<div class="project-client-image">
					<%= image_tag @theProject.client_image%>
				</div>

				<div class="project-client-right-modulo">
					<ul class="right-client-list", style="list-style-type:none">
						<li class="project-client-right-modulo-title">
							<strong><%= @theProject.client%></strong>
						</li>
						<li>
							<%= @theProject.client_summary%>
						</li>
						<li class="project-client-right-modulo-title">
							<%= link_to @theProject.client_link,  @theProject.client_link, class: "project-search-link"%>
						</li>
					</ul>
				</div>

			</div>
			<!--right client module end-->

		</div>
	</div>
</div>
<%= render "shared/footer" %>
