<h1><%= @post.title %></h1>
<small><%= @post.created_at.strftime("%b %d, %y") %></small>
<p><%= @post.body %></p>
<%= link_to "Edit post", edit_post_path %> 
<%= button_to 'Destroy', @post, :method => "delete", :confirm => 'Are you sure?'  %>