<!--##############################################################-->
<div class="wrapper navigation">
  <div id="navi" class="flex_height">
    <!-- Search bar -->
    <div class="to_right">
      <form action="#" method="post" id="search">
        <input type="text" value="Search&hellip;" onfocus="this.value=(this.value=='Search&hellip;')? '' : this.value ;" />
        <input type="image" id="go" src="/images/search_r.gif" alt="Search" />
      </form>
    </div>

    <!-- Menu list -->
    <div id="navi_tabs" class="button horizontal_list to_left">
      <ul>
        <li><%= link_to "Home", index_path %></li>
        <li><%= link_to "Projects", view_path %></li>
        <li><a href="#">Process Cart</a></li>
      </ul>
    </div>
  </div>
</div>

<!--##############################################################-->
<div class="wrapper content">

  <!-- Left navigation -->
  <div class="aside_cols to_left">
    <div id="tabs" class="to_right vertical_list button">
      <ul>
        <li><%= link_to "Add extra info", edit_desc_path %></li>
        <li><%= link_to "Assign students", assign_students_path %></li>
      </ul>
    </div>
  </div>

  <!-- Middle board -->
  <div id="container" class="to_left">
    <div id="board_showing" class="general_box flex_height shadow">

      <div class="flex_height">
        <div id="action_to_showing_board" class="to_right horizontal_list button">
          <ul>
            <li><%= submit_tag 'Add' %></li>
            <li><%= submit_tag 'Remove' %></li>
          </ul>
        </div>
      </div>

      <div class="to_left" id="showing_list">
        <fieldset>
          <legend>Students</legend>

          <select  size="18">
            <option value="a12322">a1232223 - Alex</option>
            <option value="a123220">a123220 - Leo</option>
            <option value="a123221">a123221</option>
            <option value="a123222">a123222</option>
            <option value="a123223">a123223</option>
            <option value="a123224">a123224</option>
            <option value="a123225">a123225</option>
          </select>
        </fieldset>
      </div>

      <div id="show_specification" class="to_right" >
        <fieldset>
          <legend>Student Details</legend>
          <textarea rows="13">Student Details...</textarea>
        </fieldset>
      </div>

    </div>

    <div id="pick_to_communicate" class="general_box flex_height shadow to_left">
        <fieldset>
          <legend>Assigned Students</legend>

          <select  size="7">
            <option value="student1">student1</option>
            <option value="student2">student2</option>
            <option value="student3">student3</option>
            <option value="student4">student4</option>
            <option value="student5">student5</option>
            <option value="student6">student6</option>
            <option value="student7">student7</option>
            <option value="student8">student8</option>
            <option value="student9">student9</option>
            <option value="student10">student10</option>
            <option value="student11">student11</option>
            <option value="student12">student12</option>
            <option value="student13">student13</option>
            <option value="student14">student14</option>
            <option value="student15">student15</option>
          </select>
        </fieldset>
    </div>
      <!--*********************************************-->
    <div id="communication_extra" id="general_box" class="shadow flex_height to_right">
      <div id="message_box" class="to_left">
        <input class="to_left" type="text" placeholder="From: ">
        <input class="to_right" type="text" placeholder="To: ">
        <textarea id="industry_interaction" rows="13">Messages...</textarea>
      </div>

      <div id="action_to_message" class="to_right vertical_list button">
        <ul>
          <li><a href="#">Discard</a></li>
          <li><a href="#">Draft</a></li>
          <li><a href="#">Send</a></li>
        </ul>
      </div>
    </div>

  </div>

  <!--*********************-->
  <div class="aside_cols to_left">
    <div id="cart" class="to_left vertical_list button">
      <ul>
        <% if @cart != nil && @cart.length > 0 %>
          <% @cart.each do |project| %>
          <li><%=link_to project.title, assign_students_path %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

</div>
