<!--##############################################################-->
<div class="wrapper navigation">
  <div id="navi" class="flex_height">
    <!-- Search bar -->
    <div class="to_right">
      <form action="#" method="post" id="search">
        <input type="text" value="Search&hellip;" onfocus="this.value=(this.value=='Search&hellip;')? '' : this.value ;" />
        <input type="image" id="go" src="/images/search_r.gif" alt="Search" />
      </form>
    </div>

    <!-- Menu list -->
    <div id="navi_tabs" class="button horizontal_list to_left">
      <ul>
        <li><%= link_to "Home", index_path %></li>
        <li><%= link_to "Projects", view_path %></li>
        <li><a href="#">Process Cart</a></li>
      </ul>
    </div>
  </div>
</div>

<!--##############################################################-->
<div class="wrapper content">

  <!-- Left navigation -->
  <div class="aside_cols to_left">
    <div id="tabs" class="to_right vertical_list button">
      <ul>
        <li><%= link_to "Add extra info", edit_desc_path %></li>
        <li><%= link_to "Assign students", assign_students_path %></li>
      </ul>
    </div>
  </div>

  <!--********************-->
  <%= form_tag %>
  <div id="container" class="to_left">
    <div id="board_showing" class="general_box flex_height shadow">

      <div class="flex_height">
        <div id="action_to_showing_board" class="to_right horizontal_list button">
          <ul>
            <li><%= submit_tag 'Reset' %></li>
            <li><%= submit_tag 'Preview' %></li>
            <li><%= submit_tag 'Save' %></li>
          </ul>
        </div>
      </div>

      <div id="edit_specification" class="to_right"  >
        <fieldset>
          <legend>Project description</legend>
          <%= text_area_tag 'project_content', @project.body %>
          <%= hidden_field_tag 'project_id', @project.id %>
        </fieldset>
      </div>
    </div>
  </div>

  <!--*********************-->
  <div class="aside_cols to_left">
    <div id="cart" class="to_left vertical_list button">
      <ul>
        <% if @cart != nil && @cart.length > 0 %>
          <% @cart.each do |project| %>
          <li><%=link_to project.title, edit_desc_path(:id => project.id) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

</div>
