<%= render "shared/header" %>
<%= render "shared/dashheader" %>
<!--##############################################################-->
<div class="wrapper content">
  <!-- Left navigation -->
  <div class="aside_cols to_left">
    <div id="tabs" class="to_right vertical_list button">
      <ul>
        <li><%=link_to "Newly submitted",admin_dashboard_path,:state => "new" %></li>
        <li><%=link_to "Accepted", admin_dashboard_path, state: "accepted"  %></li>
        <li><%=link_to "Rejected", admin_dashboard_path, state: "rejected" %></li>
        <li><%=link_to "Pending", admin_dashboard_path, state: "pending" %></li>
        <li><%=link_to "Past projects", admin_dashboard_path, state: "past_projects" %></li>
      </ul>
    </div>
  </div>

  <!-- Middle board -->
  <div id="container" class="to_left">

    <div id="subPro" class="forms flex_height">

      <%= form_for @project, url: {action: "update_details"}, :html => { :multipart => true} do |f| %>
        <div class="titles">
          <h3>Edit project</h3>
        </div>

        <fieldset class="leftPart inputs to_left">
          <legend>Project details</legend>
          <%=f.text_field :title, "placeholder" => "Title" %>
          <%=f.text_area :body, "placeholder" => "Project description", "rows"=>"10" %>
          <%=f.file_field :attachment %>
        </fieldset>

        <div class="sep"></div>
        <div class="to_left">

        <% if @project.errors.any? %>
          <ul class="Signup_Errors">
          <% for message_error in @project.errors.full_messages %>
          <li>* <%= message_error %></li>
          <% end %>
        <% end %>

        </div>
        <div id="subBtn" class="button horizontal_list to_right">
          <ul>
            <li><%= f.submit "SAVE" %></li>
          </ul>
        </div>
      <% end %>

    </div>

  </div>

  <!--*********************-->
  <div class="aside_cols to_left">
    <div id="cart" class="to_right vertical_list button">
      <ul>
        <li><%=link_to "Edit Details", edit_details_path(id: @project.id )%></li>
        <li><%=link_to "Make Decision", project_manip_path(id: @project.id, show_action: true) %></li>
        <li><%=link_to "Message Log", show_messages_path(id: @project.id ) %></li>
        <li><%=link_to "Spec Editor", admin_edit_project_path(id: @project.id) %></li>
        <li><%=link_to "Assign Team", admin_assign_student_path(project_id: @project.id )%></li>
      </ul>
    </div>
  </div>

</div>
