<%= render "shared/header" %>
<%= render "shared/linkbar" %>
<%= render "shared/dashheader" %>
<!--############################## MAIN BODY ################################-->
<div class="wrapper content">
  <%= render "shared/statussidebar" %>
  <!-- Middle board -->
  <div id="container" class="to_left">
    <!-- Viewing Project Board -->
    <div id="new_board_showing" class="flex_height shadow">

        <div class="flex_height">
          <h1><font color= "#B38808" > &nbsp; &nbsp; &nbsp;<%=User.find(@project.user_id).companyname.upcase %>'s PROJECT</font></h1>
          <div id="action_to_showing_board" class="to_right horizontal_list button">
          <%=form_tag %>
          <% if @show_action %>
            <ul>
            <% if @project.status == "new" %>
              <li><%= submit_tag 'Accept' %></li>
              <li><%= submit_tag 'Reject' %></li>
              <li><%= submit_tag 'Suspend' %></li>
            <% end%>

            <% if @project.status == "accepted" %>
              <li><%= submit_tag 'Suspend' %></li>
            <% end%>

            <% if @project.status == "rejected" || @project.status == nil %>
              <li><%= submit_tag 'Remove' %></li>
              <li><%= submit_tag 'Suspend' %></li>
            <% end%>

            <% if @project.status == "pending" %>
              <li><%= submit_tag 'Accept' %></li>
              <li><%= submit_tag 'Reject' %></li>
            <% end%>
          <% end %>

            </ul>
          </div>
        </div>

      <div class="project_item flex_height">
          <div class ="to_left">
            <div class = "title_item">
              <h1>Basic details</h1>
              <hr class ="fancy-line">
              <strong>Project Name: </strong><br /><%= @project.title %><br /><br />
              <strong>Basic Project Description: </strong><br /><%= @project.body %><br /><br />
              <strong>Estimated Project Length: </strong><br /><%= @project.compl_time %>months<br /><br />
            </div>  
            
            <div class = "title_item">
              <h1>System  requirements</h1>
              <hr class = "fancy-line">
              <strong>Required Language(s): </strong><br /><%= @project.languages %><br /><br />
              <strong>System Requirements: </strong><br /><%= @project.system_req %><br /><br />
              <strong>Compatability Requirements: </strong><br /><%= @project.compat_req %><br /><br />
            </div>    
          </div>

          <div class ="to_right">    

            <div class = "title_item">  
              <h1>Ideal Student Expertise</h1>
              <hr class = "fancy-line">
              <strong>Languages: </strong><br /><%= @project.student_req_lang %><br /><br />
              <strong>Concepts: </strong><br /><%= @project.student_req_concepts %><br /><br />
            </div> 

            <div class = "title_item">  
              <h1>Security Requirements</h1>
              <hr class = "fancy-line">
              <strong>Police Check Required: </strong><br /><%= @project.student_police_check %><br /><br />
              <br />
              <strong>Other Security Clause Required: </strong><br /><%= @project.student_security %><br /><br />
            </div>   

            <div class = "title_item">  
              <h1>Further details</h1>
              <hr class= "fancy-line">
              <strong>Anything else helpful to know: </strong><br /><%= @project.extra_details %><br /><br />
            </div> 

            <div class = "title_item">  
              <h1>Attachments</h1>  
              <hr class="fancy-line">
              <% if (!(@project.attachment).blank?) %>
              <strong>Hover mouse to see the link to attachment: </strong>
              <%= link_to @project.attachment, @project.attachment.url(:original)%>
              <% else %>
              <strong>No attachment submitted</strong>
              <% end %>
            </div> 
          </div>
    </div>
  </div>

</div>
<%= render "shared/projectmanipsidebar" %>
</div>

 