<%= render "shared/header" %>
<%= render "shared/linkbar" %>
<%= render "shared/dashheader" %>
<!--############################## MAIN BODY ################################-->
<div class="wrapper content">
  <%= render "shared/statussidebar" %>

  <!-- Middle board -->
  <div id="container" class="to_left">
    <!-- Viewing Project Board -->
    <div id="new_board_showing" class="general_box flex_height shadow">
      <div id="messageview" style="height:500px; overflow: auto;">
        <h1><strong><font color = "#B38808">Conversation Log</font><strong></h1>  
        <% if !@messages.blank? %>
        <% @messages.each do |m| %>

          <% if m.sender_id == @current_user.id %>
          <div class="industry_message inset_shadow">
          <% else %>
          <div class="admin_message inset_shadow">
          <% end %>
          <% sender = User.find(m.sender_id) %>
            <strong>&nbsp&nbsp&nbspSender:&nbsp<%= sender.lname %>&nbsp-&nbspTitle:&nbsp<%=m.title %></strong>
            <textarea rows="2" readonly><%=m.text %></textarea>
          </div>
          <% end %>
        <% else %>
        <div class="user_message inset_shadow">
          <strong>&nbsp&nbsp&nbsp No messages currently.</strong>
        </div>
        <% end %>

      </div>
    </div>
    
    <%= form_tag "", :multipart => true %>
    <!-- Mailing panel-->
      <div id="communication" id="general_box" class="flex_height to_right shadow">
        <!-- Message box -->
		    <div id="message_box" class="to_left">
          <input class="to_left" type="text" placeholder="Subject:", name ="subject" >
          <%= text_field_tag '',@email , "id"=>"mail_address", "class" => "to_right" %>
          <%= text_area_tag 'email' %>
        </div>

        <!-- Buttons to apply operations on message -->
  		  <div id="action_to_message" class="to_right vertical_list button">
          <ul>
            <li><a id="uploadFile" href="#">Attach</a><%=file_field_tag 'attachment', {"id" => "uploadBtn"} %></li>
            <li><%= submit_tag 'Send' %></li>
          </ul>
        </div>
      </div>
  </div>
  <%= render "shared/projectmanipsidebar" %>
</div>

<script>
$(document).ready(function(){  
	$("#messageview").animate({ scrollTop: $('#messageview')[0].scrollHeight}, 2000);
});
</script>
