<%= render "shared/header" %>
<%= render "shared/dashheader" %>
<!--############################## MAIN BODY ################################-->
<div class="wrapper content">

  <%= render "shared/statussidebar" %>

  <!-- Middle board -->
  <div id="container" class="to_left">
    <!-- Viewing Project Board -->
    <div id="board_showing" class="general_box flex_height shadow">
      <div class="flex_height">
      	<% if @projects.length > 0 %>
        	<% @projects.each do |project| %>
        		<div class="project_item">
          			<h1><%=link_to project.title, project_manip_path(project) %></a></h1>
          			<div><%=project.body %></div>
        		</div>
        	<% end %>
        <% else %>
        	<h3 class="black center">There are currently no projects of this type.</h3>
        	<h3 class="black center">Please click the left side links to View Projects!</h3>
        <% end %>
      </div>

    </div>
  </div>
</div>
