<%= render "shared/header" %>
<%= render "shared/dashheader" %>
<!--############################## MAIN BODY ################################-->
<div class="wrapper content">

  <!-- Left navigation -->
  <div class="aside_cols to_left">
    <div id="tabs" class="to_right vertical_list button">
      <ul>
        <li><%=link_to "Newly submitted", state: "new" %></li>
        <li><%=link_to "Accepted", state: "accepted"  %></li>
        <li><%=link_to "Rejected", state: "rejected" %></li>
        <li><%=link_to "Pending", state: "pending" %></li>
        <li><a href="projects/Past_projects.html">Past projects</a></li>
      </ul>
    </div>
  </div>

  <!-- Middle board -->
  <div id="container" class="to_left">
    <%= form_tag "", :multipart => true %>
      <!-- Viewing Project Board -->
      <div id="board_showing" class="general_box flex_height shadow">
        <div class="flex_height">
          <div id="action_to_showing_board" class="to_right horizontal_list button">
            <ul>
            <% if @state == "new" %>
              <li><%= submit_tag 'Accept' %></li>
              <li><%= submit_tag 'Reject' %></li>
              <li><%= submit_tag 'Suspend' %></li>
            <% end%>

            <% if @state == "accepted" %>
              <li><%= submit_tag 'Suspend' %></li>
              <li><%= submit_tag 'Add To Cart' %></li>
            <% end%>

            <% if @state == "rejected" || @state == nil %>
              <li><%= submit_tag 'Remove' %></li>
              <li><%= submit_tag 'Suspend' %></li>
            <% end%>

            <% if @state == "pending" %>
              <li><%= submit_tag 'Accept' %></li>
              <li><%= submit_tag 'Reject' %></li>
            <% end%>

            </ul>
          </div>
        </div>

        <!-- Project list-->
        <div class="to_left" id="showing_list">
          <fieldset>
            <legend>
              <div id="search_date" class ="horizontal_list">
                <ul>
                  <li><input class="to_left" type="text" id="datepicker" value="Filter by date" name = "date"></li>
                  <li><%= image_submit_tag "/images/icon_search.gif" %></li>
                </ul>
              </div>
            </legend>
            <%= select_tag(:project_id, options_for_select(@projects.collect{|project| [project.title,project.id, {'data-desc'=>project.body, 'data-mail' => @emails[project.company_id]}]}), "size" => "12", "id" => "demo") %>
          </fieldset>
        </div>

        <!-- Project description-->
        <div id="show_specification" class="to_right" >
          <fieldset>
            <legend>Project description</legend>
            <textarea id="project_desc" class ="inputs", rows="14">There are some project specification....</textarea>
          </fieldset>
        </div>
      </div>

      <!-- Mailing panel-->
      <div id="communication" id="general_box" class="flex_height to_right shadow">

        <!-- Message box -->
		    <div id="message_box" class="to_left">
          <input class="to_left" type="text" placeholder="Subject:", name ="subject" >
          <input class="to_right" id="mail_address" type="text" placeholder="To: ">
          <%= text_area_tag 'email' %>
        </div>

        <!-- Buttons to apply operations on message -->
  		  <div id="action_to_message" class="to_right vertical_list button">
          <ul>
            <li><a href="#">...</a></li>
            <li><a id="uploadFile" href="#">Attach</a><%=file_field_tag 'attachment', {"id" => "uploadBtn"} %></li>
            <li><%= submit_tag 'Send' %></li>
          </ul>
        </div>

      </div>
  </div>

  <!-- Cart bar -->
  <div class="aside_cols to_left">
    <div id="cart" class="to_left vertical_list button">
      <ul>
        <% if @cart != nil && @cart.length > 0 %>
          <% @cart.each do |project| %>
          <li><%=link_to project.title, edit_desc_path(:id => project.id) %></li>
          <% end %>
        <% else %>
          <li><a href="#">Current Processing Set</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
