 <!--#######################################################-->
  <div class="wrapper banner">
    <div id="top_bar" class="flex_height">
      <div class="to_left">
        <h1>University of Adelaide</h1>
      </div>

      <div class="button to_right">
        <ul>
          <li><a href="login.html">Login</a></li>
          <li><a href="register.html">Register<a/></li>
        </ul>
      </div>
    </div>
  </div>
  <!--########################################################-->
  <div id="subPro" class="forms flex_height">
    <%= form_for @project, url: {action: "create"} do |f| %>
      <div class="titles">
        <h3>Submit a Project</h3>
      </div>
      <fieldset class="leftPart inputs to_left">
        <legend>Company details</legend>
        <%=fields_for @company do |c| %>
          <%=c.text_field :name, "placeholder" => "Company name" %>
          <%=c.text_field :address, "placeholder" => "Address" %>
          <%=c.text_field :phone, "placeholder" => "Phone contacts" %>  
          <%=c.text_field :email, "placeholder" => "Email" %>
          <%=c.text_field :website, "placeholder" => "Website" %>
        <% end %>
      </fieldset>

      <fieldset class="rightPart inputs to_right">
        <legend>Project details</legend>
        <%=f.text_field :title, "placeholder" => "Title" %>
        <%=f.text_area :body, "placeholder" => "Project description", "rows"=>"10" %>
        <%= fields_for @attached do |a| %>
          <%= a.file_field :attached %>
        <% end %>  
      </fieldset>   
    <div class="sep"></div>
    <div class="to_left">
      <%= "Some fields were missing!" if @project.errors.any? || @company.errors.any? %>
    </div>
    <div id="subBtn" class="button to_right"> 
      <ul>
        <li><%= f.submit %></li>
        <li><a href="index.html">CANCEL</a></li>
      </ul>
    </div>
    <% end %>

  </div>