  <%= render "shared/header" %>
  <%= render "shared/linkbar" %>
  <%= form_tag(:login, class: "forms flex_height", id: "login") do %>
      <div class="titles">
        <h3>Login</h3>
        <!--message flash up-->
        <% if flash[:notice] %>
    		<div class="notice"><%= flash[:notice] %></div>
  		<% end %>
      </div>
      <div class="inputs">
        <%= text_field_tag :username_or_email,params[:username_or_email],"placeholder" => "Username/Email" %>
        <%= password_field_tag :login_password,params[:login_password], "placeholder" => "Password" %>
        <%= link_to "Forgot Password?", :forgot_password %>
      </div>
      <div id="subBtn" class="button horizontal_list to_right">
        <ul>
          <li><%= link_to "BACK", root_path %></li>
          <li><%= submit_tag "LOG IN" %></li>
        </ul>
      </div>
  <% end %>
