<div class="wrapper banner">
    <div id="top_bar" class="flex_height">
      <div class="to_left">
        <h1>University of Adelaide</h1>
      </div>

      <div class="button to_right">
        <ul>
          <li><%= link_to "Login", login_path %></li>
          <li><%= link_to "Register", signup_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <!--########################################################-->
  <%= form_tag(:login, class: "forms", id: "login") do %>
      <div class="titles">
        <h3>Please Log in or Register to Continue</h3>
        <!--message flash up-->
        <% if flash[:notice] %>
    		<div class="notice"><%= flash[:notice] %></div>
  		<% end %>
      </div>
      <div class="inputs">
        <input type="text" placeholder="Reference number" autofocus />
        <div id="separator">or</div>
        <p>Username or Email Address</p><%= text_field_tag :username_or_email %>
        <p>Password</p><%= password_field_tag :login_password %>
      </div>
      <div class="submit" class="button">
      	<%= submit_tag "Log In", class: "to_right" %>
        <%= link_to "BACK", root_path %>
      </div>
  <% end %>
